<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReplayParser.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReplayParser.NET.Properties.Settings>
            <setting name="AppHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="AppState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="Tab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="XPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YPos" serializeAs="String">
                <value>0</value>
            </setting>
        </ReplayParser.NET.Properties.Settings>
    </userSettings>
</configuration>